- @title = @order.id

- content_for :breadcrumbs do
  %p.breadcrumbs__node-group
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.layouts.home'), root_path, rel: 'home'
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }
      = link_to t('workarea.storefront.orders.order_status'), check_orders_path
    %span.breadcrumbs__node{ itemprop: 'breadcrumb' }= @order.id

.view

  %h1= @order.id

  %table.table
    %tbody
      %tr
        %th= t('workarea.storefront.orders.placed_at')
        %td= local_time(@order.placed_at, :short_date_at_time)
      %tr
        %th= t('workarea.storefront.orders.status')
        %td= @order.fulfillment_status

  = render 'workarea/storefront/legacy_orders/summary', order: @order
